@for $i from 1 through 20 {
  .graphic-#{$i} {
    background-color: nth($colors, $i);
    color: $text-graphic;
    text-align: center;
    word-wrap: break-word;
  }

}

.grid{
  margin: 5rem auto;
}

body {
  background-color: #ffffff !important;
}

.avatar {
  height: 70px;
  width: 70px;
}

.avatar1 {
  display: flex;
  justify-content: center;
}